<td>
  <div>
    <%-  indexer %>
  </div>
  <div class="small text-muted">
    <%- sort %>
  </div>
</td>
<td>
  <div>
    <%- name %>
  </div>
  <div class="small text-muted">
    <%- is_system? i18n('rules-lists', 'system_created') :i18n('rules-lists', 'user_created') %>
  </div>
</td>
<td>
  <%- description %>
</td>
<td>
  <%-  i18n('block-type', block_type) %>
</td>
<td>
  <%-  block_counter %>/<%-  exec_counter %>
</td>
<td>
  <div>
    <%- enabled ? i18n('rules-lists', 'enabled'): i18n('rules-lists', 'disabled') %> 
  </div>
</td>
<% if (canManage) { %>
<td class="text-right">
  <div class="item-action dropdown">
    <a href="#" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
      <span class="dropdown-header"><%- i18n('rules-lists', 'rule-id') %> #<%- id %></span>
      <a href="#" class="edit dropdown-item"><i class="dropdown-icon fe fe-edit"></i> <%-  is_system? i18n('rules-lists', 'view'):i18n('str', 'edit') %></a>
      <a href="#" class="copy dropdown-item"><i class="dropdown-icon fe fe-copy"></i> <%-  i18n('rules-lists', 'copy') %></a>
      <a href="#" class="able dropdown-item"><i class="dropdown-icon fe fe-power"></i> <%- i18n('str', enabled ?'disable' : 'enable') %></a>
      <% if (!is_system) { %>
      <div class="dropdown-divider"></div>
      <a href="#" class="delete dropdown-item"><i class="dropdown-icon fe fe-trash-2"></i> <%- i18n('str', 'delete') %></a>
    </div>
    <% } %>
  </div>
</td>
<% } %> 