<td>
  <div>
    <%- name %>
  </div>
  <div class="small text-muted">
    <%- i18n('str', 'created-on', {date: formatDbDate(created_on, 'yyyy-MM-dd')}) %>
  </div>
</td>
<td>
  <%- description %>
</td>
<td>
  <div>
    <%- enabled ? i18n('rules-lists', 'enabled'): i18n('rules-lists', 'disabled') %>
  </div>
</td>
<% if (canManage) { %>
<td class="text-right">
  <div class="item-action dropdown">
    <a href="#" data-toggle="dropdown" class="icon"><i class="fe fe-more-vertical"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
      <span class="dropdown-header"><%- i18n('audit-log', 'rules-lists') %> #<%- id %></span>
      <a href="#" class="edit dropdown-item"><i class="dropdown-icon fe fe-edit"></i> <%- i18n('str', 'edit') %></a>

      <a href="#" class="able dropdown-item"><i class="dropdown-icon fe fe-power"></i> <%- i18n('str', enabled ?'disable' : 'enable') %></a>
      <div class="dropdown-divider"></div>
      <a href="#" class="delete dropdown-item"><i class="dropdown-icon fe fe-trash-2"></i> <%- i18n('str', 'delete') %></a>
    </div>
  </div>
</td>
<% } %>