<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title"><%- i18n('rules-lists', 'form-title', {id: id}) %></h5>
    <button type="button" class="close cancel" aria-label="Close" data-dismiss="modal">&nbsp;</button>
  </div>
  <div class="modal-body has-tabs">
    <div class="alert alert-danger mb-0 rounded-0" id="le-error-info" role="alert"></div>
    <form>
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="nav-item"><a href="#details" aria-controls="tab1" role="tab" data-toggle="tab" class="nav-link active show" aria-selected="true"><i class="fe fe-zap"></i> <%- i18n('rules-lists', 'details') %></a></li>
        <li role="presentation" class="nav-item"><a href="#advanced" aria-controls="tab2" role="tab" data-toggle="tab" class="nav-link" aria-selected="false"><i class="fe fe-users"></i> <%- i18n('rules-lists', 'lua-script') %></a></li>
      </ul>

      <div class="tab-content">
        <!-- Details -->
        <div role="tabpanel" class="tab-pane active show" id="details">
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="form-group">
                <label class="form-label"><%- i18n('rules-lists', 'name') %> <span class="form-required">*</span></label>
                <input type="text" name="name" class="form-control" value="<%- name %>" required>
              </div>
            </div>
            <div class="col-sm-12 col-md-12">
              <div class="form-group mb-0">
                <label class="form-label"><%- i18n('rules-lists', 'description') %><span class="form-required">*</span></label>
                <textarea name="description" rows="2" class="form-control text-monospace" placeholder="# <%- i18n('rules-lists', 'description-placehoder') %>" required><%- description %></textarea>
              </div>
            </div>


            <div class="col-sm-6 col-md-6">
              <div class="form-group">
                <label class="form-label"><%- i18n('rules-lists', 'exec-sort') %><span class="form-required">*</span></label>
                <input name="sort" type="number" class="form-control text-monospace" placeholder="0~100" value="<%- sort %>" required>
              </div>
            </div>
            <div class="col-sm-6 col-md-6">
              <div class="form-group">
                <label class="form-label"><%- i18n('rules-lists', 'block-type') %><span class="form-required">*</span></label>
                <select name="block_type" class="form-control custom-select" placeholder="others" required>
                  <option value="others" <%- block_type === "others" ? 'selected' : '' %>><%- i18n('block-type', 'others') %></option>
                  <option value="sql-injection" <%- block_type === "sql-injection" ? 'selected' : '' %>><%- i18n('block-type', 'sql-injection') %></option>
                  <option value="xss" <%- block_type === "xss" ? 'selected' : '' %>><%- i18n('block-type', 'xss') %></option>
                  <option value="path-traversal" <%- block_type === "path-traversal" ? 'selected' : '' %>><%- i18n('block-type', 'path-traversal') %></option>
                  <option value="sensitive-path" <%- block_type === "sensitive-path" ? 'selected' : '' %>><%- i18n('block-type', 'sensitive-path') %></option>
                  <option value="cc-attack" <%- block_type === "cc-attack" ? 'selected' : '' %>><%- i18n('block-type', 'cc-attack') %></option>
                  <option value="malicious-file-upload" <%- block_type === "malicious-file-upload" ? 'selected' : '' %>><%- i18n('block-type', 'malicious-file-upload') %></option>
                </select>
              </div>
            </div>
            
            <div class="col-sm-6 col-md-6">
              <div class="form-group">
                <label class="custom-switch">
                  <input type="checkbox" class="custom-switch-input" name="enabled" value="1" <%- typeof enabled !== 'undefined' && enabled ? ' checked' : '' %> required>
                  <span class="custom-switch-indicator"></span>
                  <span class="custom-switch-description"><%- i18n('rules-lists', 'is-enabled') %></span>
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- Advanced -->
        <div role="tabpanel" class="tab-pane" id="advanced">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group mb-0">
                <label class="form-label"><%- i18n('rules-lists', 'lua-script-desc') %><span class="form-required">*</span></label>
                <textarea name="lua_script" rows="8" class="form-control text-monospace" placeholder="ngx.say('hello world')" required><%- lua_script %></textarea>
              </div>
              <p class="small text-gray"><i class="fe fe-alert-triangle"></i> <%- i18n('rules-lists', 'script-warning') %></p>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary cancel" data-dismiss="modal"><%- i18n('str', 'cancel') %></button>
    <button type="button" class="btn btn-teal save"><%- i18n('str', 'save') %></button>
  </div>
</div>